/* This file contans lots of useful classes */

.icon {
	width: 3vw;
	margin-right: 1.5vw;
}

.mobile-only,
.large-screen-only {
	display: none;
}

@media screen and (max-width: 768px) {
	.icon {
		width: 5vw;
		margin-right: 3vw;
	}

	.mobile-only {
		display: block;
	}

	.desktop-only {
		display: none;
	}
}

@media screen and (min-width: 1440px) {
	.large-screen-only {
		display: block;
	}
}
