/* In this files there will be classes that can be dropped in and create an element, or component */

/* This class creates a button similar to the one used to navigate to the play store */
.button {
	all: unset;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #2e3a64;
	border-radius: 2vw;
	box-shadow: 2px 4px 5px;
}

.button:hover {
	background-color: #3c4772;
	box-shadow: inherit;
}

.button img {
	width: 2.8vw;
	padding-left: 3vw;
}

.button h3 {
	white-space: nowrap;
	padding: 1.5vw 2.5vw 1.5vw 1vw;
	font-size: 2.2vw;
}

.no-icon h3 {
	padding: 1.5vw 2.5vw;
}

@media screen and (max-width: 768px) {
	.button {
		border-radius: 4vw;
	}
	.button img {
		width: 5.5vw;
		padding-left: 5vw;
	}
	.button h3 {
		padding: 3vw 5vw 3vw 2vw;
		font-size: 4.5vw;
	}
	.no-icon h3 {
		padding: 3vw 5vw;
	}
}

/* A wrapper for the icons at the bottom of the website */
.social-icons a {
	all: unset;
}

.social-icons img {
	margin-left: 3vw;
}

/* A default flex implementation */

.flex {
	display: flex;
	align-items: center;
	position: relative;
}

.flex h2 {
	margin-left: 1vw;
}

.mockup .img {
	width: 25vh;
	position: absolute;
	right: 13vw;
	top: -10vh;
}

@media screen and (max-width: 768px) {
	.center-mobile {
		justify-content: center;
	}

	.mockup {
		margin: 0 auto;
		float: none;
		display: table;
	}

	.mockup div {
		display: flex;
		justify-content: center;
	}

	.mockup h2 {
		text-align: center;
	}

	.mockup .img {
		position: static;
		margin: 3vh 0;
		width: 25vh;
	}

	.social-icons img {
		width: 8vw;
		margin-left: 6vw;
	}
}

@media screen and (min-width: 768px) {
	.margin-50-desktop {
		margin-right: 50vw;
	}
}

@media screen and (min-width: 1440px) {
	.mockup .img {
		width: 20vw;
	}
	.social-icons img {
		width: 5vw;
	}
}
