.spacer-80 {
	height: 80vh;
}

.spacer-50 {
	height: 50vh;
}

.spacer-25 {
	height: 25vh;
}

.spacer-10 {
	height: 10vh;
}

.spacer-5 {
	height: 5vh;
}

@media screen and (max-width: 1440px) {
	.spacer-25 {
		height: 17vh;
	}
	.spacer-50 {
		height: 30vh;
	}
	.spacer-80 {
		height: 50vh;
	}
}

@media screen and (max-width: 768px) {
	.spacer-80 {
		height: 10vh;
	}
	.spacer-50 {
		height: 15vh;
	}
	.spacer-25 {
		height: 8vh;
	}
	.spacer-10 {
		height: 5vh;
	}
	.spacer-5 {
		height: 2vh;
	}
}
