:root {
	--bg-color: #202c4b;
	--text-color: #ffffff;
}

body {
	margin: 0;
	background-color: var(--bg-color);
	padding: 50px;
}

#logo {
	margin-left: 5%;
	display: inline;
	width: 22vw;
}

@media screen and (min-width: 1440px) {
	body {
		padding: 6vw;
	}
}

@media screen and (max-width: 1024px) {
	#logo {
		margin-left: 20px;
	}
}

@media screen and (max-width: 768px) {
	#logo {
		width: 25vw;
	}
	body {
		padding: 20px;
	}
}
