@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --bg-color: #202c4b;
  --text-color: #ffffff;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  padding: 50px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 13vw;
  font-weight: 500;
  text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 4.5vw;
}

h3 {
  font-weight: 400;
  font-size: 3.5vw;
}

h4 {
  font-weight: 300;
  font-size: 2vw;
}

#logo {
  margin-left: 5%;
  display: inline;
  width: 20vw;
}

.button {
  all: unset;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #2e3a64;
  border-radius: 2vw;
  box-shadow: 4px 7px 6px;
}

.button:hover {
  background-color: #3c4772;
  box-shadow: inherit;
}

.button img {
  width: 2.8vw;
  padding-left: 3vw;
}

.button h3 {
  white-space: nowrap;
  padding: 1.5vw 2.5vw 1.5vw 1vw;
  font-size: 2.2vw;
}

.icon {
  width: 3vw;
  margin-right: 1.5vw;
}

.social-icons a {
  all: unset;
}

.social-icons img {
  margin-left: 3vw;
}

.spacer {
  height: 15vh;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1024px) {
  h1 {
    text-transform: uppercase;
  }
  #logo {
    margin-left: 20px;
  }
  .spacer {
    height: 4vh;
  }
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}
